@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  z-index: 0;
}

.leaflet-popup {
  margin-bottom: 20px;
}

.leaflet-popup-content {
  margin: 0;
  min-width: 200px;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
}